* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  background-color: #0F1123;
  color: #ffffff;
}

#__next {
  width: 100%;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1E2235;
}

::-webkit-scrollbar-thumb {
  background: #7C6FF7;
  border-radius: 3px;
}